/* take up all of the height available to the element*/
.fill-y {
  height: 100%
}

/* display a black line on the left side of the element*/
.boarder-left {
  border-left: 3px black solid;
}


/* use with .flex to vertically center elements*/
.vertically-center {
  align-items: center;
  justify-content: center;
}

/*brand background colour*/
.brand-background{
  background-size: cover; 
  background-color: white;
  background-image: url('https://raw.githubusercontent.com/letaylor622/letaylor622.github.io/master/test1.jpg');
  opacity: 0.55;
}

/*brand font colour*/
.brand-font{
  color: darkslategrey;
}

/*set font for page; currently loaded from google*/
body {
font-family: 'PT Serif', serif;
}
